<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta property="og:title" content="Home">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Github pages portfolio website">
    <meta property="og:description" content="Github pages portfolio website">
    <link rel="canonical" href="https://kylekeenewelch.github.io/my-site/index/">
    <meta property="og:url" content="https://kylekeenewelch.github.io/my-site/index/">
    <meta property="og:site_name" content="Kyle Keene-Welch">
    <meta property="og:type" content="website">
    <title>Calculator | Kyle Keene-Welch</title>
</head>

<body>
    <main class="main-container">
        <header>
            <a href="index.html"><img src=<%=require("../../assets/images/home/logo.png")%> alt="Logo" /></a>
            <nav>
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="portfolio.html">Portfolio</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
        <br>
        <section>
            <div class="project-intro">
                <div>
                    <h1>Calculator</h1>
                    <p>May 30th, 2023</p>
                </div>
                <div class="project-featured-image">
                    <img src=<%=require("../../assets/images/projects/odin-calculator/odin-calculator.png")%>
                    alt="Calculator" />
                </div>
                <div class="project-tags">
                    <p class="project-tag">HTML</p>
                    <p class="project-tag">CSS</p>
                    <p class="project-tag">JS</p>
                    <p class="project-tag">Web</p>
                </div>
            </div>
        </section>
        <section>
            <h2>Summary</h2>
            <p>
                This project is a project undertaken as part of <span>The Odin Project</span> learning web course
                teaching <span>HTML</span>, <span>CSS</span> and <span>JavaScript</span> skills. It involved putting
                into practice the teachings of <span>JavaScript</span> taught in the previous lessons and required the
                active use of research and preparation to find the correct JavaScript methods to use.
            </p>
            <p>
                The use of JavaScript is highly introduced within this project to demonstrate my skills in DOM methods
                and the manipulation of <span>HTML</span> and <span>CSS</span> from <span>JavaScript</span>. The
                Calculator is a simple application that aims to bring the features of the working arithmetic tool to the
                web through the integration of <span>JavaScript</span> functions. It uses array methods, event
                listeners, element references, and conditional statements to assess the condition of the application.
            </p>
            <p>
                Important details include the processing of only two values with operators such as addition,
                subtraction, multiplication, division. Negative values can be processed and the display contains an auto
                overflow value meaning extreme numbers can be entered and can still be seen albeit not easily.
            </p>
        </section>
        <section>
            <h2>Features</h2>
            <ul>
                <li><strong>Performs Core Arithmetic Operations</strong> - Includes core arithmetic operations on two
                    given values including addition, subtraction, multiplication and division.</li>
                <li><strong>Display with Overflow Management</strong> - Long input and extreme numbers are accomodated
                    with the overflow value of the display set to auto so that the user can scroll through their input
                    when it exceeds the boundary.</li>
                <li><strong>Decimals</strong> - Allows the use of decimals as the given values and restricts the user to
                    use only one decimal point for each value.</li>
                <li><strong>Negative numbers</strong> - Processing of arithmetic calculations can be done with negative
                    numbers with few errors.</li>
                <li><strong>Clear and Delete Buttons</strong> - Clear and delete buttons allow the user to completely
                    remove all or a single character on the display so that mistakenly entered input can be corrected
                    without causing error in the application.
                </li>
                <li><strong>Keyboard Support</strong> - Allows the use of the keyboard to provide input. Number keys
                    enter numbers into the display as do the operators and decimal. Backspace, delete and enter all do
                    their corresponding actions much like the buttons when pressed.
                </li>
            </ul>
            <div class="project-feature-container">
                <h3>Display and buttons</h3>
                <img src=<%=require("../../assets/images/projects/odin-calculator/display_buttons_calculator.png")%>
                alt="Display and Buttons"
                />
                <p>
                    Contains a simple design with a math related background and title. The calculator itself complements
                    the colour scheme and uses div elements and a grid to create the display and buttons. Buttons are
                    presented as the top buttons and bottom. Top bottoms contain the clear and delete buttons separate
                    from the grid in the bottom which assigns each button its value.
                </p>
            </div>
            <div class="project-feature-container">
                <h3>Overflow Management</h3>
                <img src=<%=require("../../assets/images/projects/odin-calculator/overflow_calculator.png")%>
                alt="Display Overflow"
                />
                <p>
                    The display has its overflow property set to auto so that a scrollbar appears when the content
                    exceeds the boundary.
                </p>
            </div>
            <div class="project-feature-container">
                <h3>Decimals</h3>
                <img src=<%=require("../../assets/images/projects/odin-calculator/decimal_calculator.png")%>
                alt="Decimals"
                />
                <p>Users are able to apply a decimal point to each of the numbers and the numbers are converted and
                    output is provided as a Float when necessary.</p>
            </div>
            <div class="project-feature-container">
                <h3>Negative Numbers</h3>
                <img src=<%=require("../../assets/images/projects/odin-calculator/negative_numbers_calculator.png")%>
                alt="Negative Numbers"
                />
                <p>Users are able to produce and work with negative values. Minor issues pertain to the deletion of
                    negative operators and the repeat insertion of operator values.</p>
            </div>
        </section>
        <section>
            <h2>Implementation</h2>
            <div>
                <h3>References to Elements</h3>
                <figure>
                    <pre>
                        <code>
// References to elements in page.
const bottomButtonsContainer = document.querySelector('#bottom-buttons-container');
const displayText = document.querySelector('#display-text');
const clearbtn = document.querySelector('#clear-btn');
const deletebtn = document.querySelector('#delete-btn');
                        </code>
                    </pre>
                </figure>
                <p>
                    A key area in implementing the JavaScript in the project is to use references to elements in the
                    page. These are variables that store the query results of certain element classes and IDs. The
                    <span>querySelector</span> function will return only one element upon success. These variables can
                    be placed at the top of the script and can be accessed within <span>DOM methods</span> which will
                    manipulate the text content and styling of the referenced elements when required. This makes it
                    easier to access and less redundant that making references to the same element in several locations.
                </p>
            </div>
            <div>
                <h3>Constant and Let values</h3>
                <figure>
                    <pre>
                        <code>
// Constant values for buttons, numbers, operator arrays and default values. 
const BOTTOM_BUTTONS = ['7', '8', '9', '÷', '4', '5', '6', 'x', '1', '2', '3', '-', '.', '0', '=', '+'];
const NUMBERS = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '.'];
const OPERATORS = ['÷', 'x', '+', '-'];
const DEFAULT_NUM_OPERATOR = null;
const DEFAULT_DECIMAL = false;

// Variable values for numbers, operator and decimal booleans.
let firstNum = DEFAULT_NUM_OPERATOR;
let secondNum = DEFAULT_NUM_OPERATOR
let operator = DEFAULT_NUM_OPERATOR;
let firstNumHasDecimal = DEFAULT_DECIMAL;
let secondNumHasDecimal = DEFAULT_DECIMAL;
                        </code>
                    </pre>
                </figure>
                <p>
                    Within the implementation, it was often required to send data between screens so that this can be
                    accessed and the right content was displayed to the user. In this case, the current user's ID that
                    is logged into the application is the important piece of data that we need to send across to each
                    screen. The application only knows which workouts to show and what session belongs to what user when
                    it is able to distinguish which user is currently logged in.
                </p>
                <p>
                    Within the implementation, <span>constants</span> are used to define default values for several
                    properties of the application such as the colour, canvas size and mode. The use of
                    <span>constants</span> allows us to not accidently change static values and to apply these as the
                    starting values of the dynamic <span>let</span> variables below. These are changed upon user
                    interaction and do not affect the default values set by the <span>constants</span>.
                </p>
            </div>
            <div>
                <h3>Using Event Listeners</h3>
                <figure>
                    <pre>
                        <code>
// Event listeners including clear and delete button functionality and keyboard support through onkeydown.
clearbtn.onclick = (e) => clearDisplayText();
deletebtn.onclick = (e) => deleteDisplayText();
document.body.onkeydown = (e) => {
    // Allow only bottom buttons or slash key (divide sign alternative).
    if (BOTTOM_BUTTONS.includes(e.key) || e.key == '/') {
        if (e.key == '/') {
            processInput('÷');
        }
        else {
            processInput(e.key);
        }
    }
    else if (e.key == "Enter") {
        processInput('=');
    }
    else if (e.key == "Backspace") {
        deleteDisplayText();
    }
    else if (e.key == "Delete") {
        clearDisplayText();
    }
}
                        </code>
                    </pre>
                </figure>
                <p>
                    In order to provide the interactivity of the JavaScript script <span>event listeners</span> were
                    used. These would pick up an assigned event to elements in the page such as the <span>click</span>
                    event to the buttons. Once a click was detected, the script would run the function provided with the
                    assignment of the listener and would place the event as the argument. This would provide reference
                    to the element clicked and could be used to access attributes such as the element's class or ID. In
                    one the examples provided, we pass in the user's input by them clicking on a particular bottom
                    button and the button will pass their text content into the function. Depending on the text content,
                    different parts of the function will be triggered and will make calls to other functions in the
                    application. This includes passing in numbers, operators, decimal point or equals sign.
                </p>
            </div>
            <div>
                <h3>Making the Grid</h3>
                <figure>
                    <pre>
                        <code>
// Creates grid for bottom buttons.
function makeGrid() {
    for (i = 0; i < 16; i++) {
        const cell = document.createElement("div");
        // Button will display right text based on array order.
        cell.textContent = BOTTOM_BUTTONS[i];
        // Each button will process input by passing in their text.
        cell.onclick = (e) => processInput(cell.textContent);
        // Adds each button to grid.
        bottomButtonsContainer.appendChild(cell).className = "grid-item";
    };
}

// Make grid upon load.
window.onload = () => {
    makeGrid();
}
                        </code>
                    </pre>
                </figure>
                <p>
                    Another key concept in the implementation of the JavaScript interactivity in the page is the
                    creation of the grid for the bottom buttons. This involves making the grid on load and assigning
                    each button the appropriate text content via an array. This is generated using the
                    <span>gridTemplateColumns</span> and <span>gridTemplateRows</span> properties and applying repeat
                    values of the assigned size to create several equal size cells. Applying the same size to both the
                    column and row property means JavaScript will generate the grid-like display and this is effective
                    to be used as the buttons. Each cell is applied the <span>onclick</span> event listener which will
                    pass its text content to <span>processInput()</span>. These cells are then appended to the
                    <span>gridContainer</span> so they form a main parent with several children. The
                    <span>grid-item</span> class is applied to each button to provide the appropriate styling during its
                    active and inactive states.
                </p>
            </div>
            <div>
                <h3>First Num Removal Using Substring</h3>
                <figure>
                    <pre>
                        <code>
// Removes first num and obtains second.
function removeFirstNum() {
    let temp = displayText.textContent;
    let index;
    let result;
    // Negative numbers
    if (firstNum < 0) {
        // Remove initial -.
        temp = displayText.textContent.substring(1);
        // Find operator.
        index = temp.indexOf(operator) + 1;
        // Obtain second number.
        result = displayText.textContent.substring(index + 1);
    }
    // Positive numbers
    else {
        //Find operator.
        index = temp.indexOf(operator);
        // Obtain second number.
        result = displayText.textContent.substring(index + 1);
    }
    return result;
}
                        </code>
                    </pre>
                </figure>
                <p>
                    To save user input as the two numbers in the calculation, we need to trim the display to obtain the
                    correct values. The second number will require the removal of the first number and the operator
                    inbetween before it can be converted and stored as an Integer or Float. To do this, we use
                    <span>indexOf</span> to find where the operator is once the negative sign is removed. As the second
                    number will start immediately after the operator, we can use <span>substring</span> to return the
                    rest of the string from this point. The same concept is used during the deletion of the end
                    character in the display by returning the string without the final character.
                </p>
            </div>
            <div>
                <h3>Check Contains Functions</h3>
                <figure>
                    <pre>
                        <code>
// Checks for decimal.
function checkContainsDecimal() {
    for (i = 0; i < displayText.textContent.length; i++) {
        if (displayText.textContent[i] == '.') {
            return true;
        }
    }
    return false;
}

// Check for operator.
function checkContainsOperator() {
    for (i = 0; i < displayText.textContent.length; i++) {
        if (OPERATORS.includes(displayText.textContent[i])) {
            return true;
        }
    }
    return false;
}
                        </code>
                    </pre>
                </figure>
                <p>
                    The check contains functions are a part of the implementation that allows the application to test
                    the user input in the display for whether they have used decimal numbers or whether an operator is
                    present. Much of the issues relating to negative numbers stem from this functionality as the
                    negative symbol is the same as the subtraction symbol and therefore causes the application to reject
                    operator entry. We remove this first as the solution. The check contains functions work by using a
                    for loop to go through each character in the display string and check whether the current character
                    is equal to the character(s) being tested. If a match is found, a boolean true is returned otherwise
                    false is returned.
                </p>
            </div>
            <div>
                <h3>Input Processing</h3>
                <figure>
                    <pre>
                        <code>
// Handle Input.
function processInput(input) {
    //If not equals and not operator
    if (input != '=' && !OPERATORS.includes(input)) {
        // If decimal point.
        if (input == '.')
...
// If equals is pressed.
    else if (input == '=') {
...
// If contains a number.
    if (NUMBERS.includes(input))
...
// If contains an operator.
    else if (OPERATORS.includes(input)) {
                        </code>
                    </pre>
                </figure>
                <p>
                    To handle the input provided by the user we use <span>processInput</span> in the implementation to
                    determine the course of action. Input can vary from a number, operator, decimal point, equals sign
                    and each of these contains their vary own condition and subconditions to check the current state of
                    the application with its stored values to apply the correct functionality to the calculator. The
                    input is only added to the display if the application deems it applicable after the checks have been
                    made. An example of which would be that the user is only able to enter one operator for the
                    calculation and so will use <span>checkContainsOperator</span> to do this within the contains
                    operator branch.</p>
            </div>
        </section>
        <section>
            <div class="github-repo-container">
                <div>
                    <a href="https://github.com/KyleKeeneWelch/odin-calculator" target="_blank"><i
                            class="fa-brands fa-github icon" aria-hidden="true"></i></a>
                    <a href="https://github.com/KyleKeeneWelch/odin-calculator" target="_blank">Kyle Keene-Welch |
                        Calculator</a>
                </div>
            </div>
            <div>
                <h2>Want to know more?</h2>
                <p class="center">Get in contact by visiting the <a href="contact.html">Contact Page</a> or
                    alternatively emailing <a href="mailto:kylekeene.welch@gmail.com">kylekeene.welch@gmail.com</a></p>
            </div>
        </section>
        <footer>
            <p>Kyle Keene-Welch © 2026</p>
            <a href="https://github.com/KyleKeeneWelch"><i class="fa-brands fa-github icon" aria-hidden="true"></i></a>
            <a href="mailto:kylekeene.welch@gmail.com">kylekeene.welch@gmail.com</a>
        </footer>
    </main>
</body>

</html>