<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta property="og:title" content="Home">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Github pages portfolio website">
    <meta property="og:description" content="Github pages portfolio website">
    <link rel="canonical" href="https://kylekeenewelch.github.io/my-site/index/">
    <meta property="og:url" content="https://kylekeenewelch.github.io/my-site/index/">
    <meta property="og:site_name" content="Kyle Keene-Welch">
    <meta property="og:type" content="website">
    <title>The Odin Project: Admin Dashboard | Kyle Keene-Welch</title>
</head>

<body>
    <main class="main-container">
        <header>
            <a href="index.html"><img src=<%=require("../../assets/images/home/logo.png")%> alt="Logo" /></a>
            <nav>
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="portfolio.html">Portfolio</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
        <br>
        <section>
            <div class="project-intro">
                <div>
                    <h1>Admin Dashboard</h1>
                    <p>June 12th, 2023</p>
                </div>
                <div class="project-featured-image">
                    <img src=<%=require("../../assets/images/projects/odin-admin-dashboard/odin-admin-dashboard.png")%>
                    alt="Admin Dashboard" />
                </div>
                <div class="project-tags">
                    <p class="project-tag">HTML</p>
                    <p class="project-tag">CSS</p>
                    <p class="project-tag">JS</p>
                    <p class="project-tag">Web</p>
                    <p class="project-tag">CSS Grid</p>
                </div>
            </div>
        </section>
        <section>
            <h2>Summary</h2>
            <p>
                This project is a project undertaken as part of <span>The Odin Project</span> learning web course
                teaching <span>HTML</span>, <span>CSS</span> and <span>JavaScript</span> skills. It involved putting
                into practice the teachings of <span>CSS Grid</span> taught in the previous lessons to put together an
                effective grid structure in the webpage and to place page elements to suit a design.
            </p>
            <p>
                The project hands a webpage mockup of which is the aim outcome structure and appeal. It is up to the
                developer to use the taught skills of <span>flexbox</span>, <span>grid</span> and <span>relative
                    units</span> to appropriately structure and place elements much like the design. Grid is a powerful
                tool that enables developers to incorporate complex structures that would either be difficult or
                impossible to replicate in flexbox. The practice of this tool is a great way to introduce it into future
                projects where the benefits of using grid will heighten the development process and produce effective
                webpages.
            </p>
            <p>
                Also included is the use of media queries to alter page structure and elements so that they reflect upon
                the device viewing the page. Devices with bigger and smaller viewports are accomodated through the
                alteration of the sidebar and page content so borders of content do not overflow the edges of the device
                and content can be read and understood clearly.
            </p>
        </section>
        <section>
            <h2>Features</h2>
            <ul>
                <li><strong>Flexbox and Grid</strong> - Uses flexbox and grid tools to position and structure page
                    elements according to the design.</li>
                <li><strong>SVG Icons</strong> - Uses SVG graphics to represent icons within buttons on the page. These
                    use mathematical values to recreate shapes and structure to represent known icons with meaning.</li>
                <li><strong>Media Queries and Responsiveness</strong> - Uses media queries to assess the current size of
                    the viewport and applies styles when certain breakpoints are met. Breakpoints include a medium
                    iPad-like size and a small mobile-like size. Styles change elements to fit the device.</li>
            </ul>
            <div class="project-feature-container">
                <h3>Grid Structure</h3>
                <img
                    src=<%=require("../../assets/images/projects/odin-admin-dashboard/grid_structure_admin_dashboard.png")%>
                alt="Grid Structure"
                />
                <p>
                    Grid is used to create rows and columns to place our content within. Here we define a main container
                    as grid with rows and columns to accomodate the sidebar, navigation, main tab and page content. Grid
                    is also used nested within the grid items in the container where the page content defines its own
                    rows and columns to separate the content.
                </p>
            </div>
            <div class="project-feature-container">
                <h3>SVG Icons</h3>
                <img src=<%=require("../../assets/images/projects/odin-admin-dashboard/svg_icons_admin_dashboard.png")%>
                alt="SVG Icons"
                />
                <p>
                    SVGs are used within the buttons of the webpage as icons to convey meaning. Much of the instances
                    where SVGs are used are within the sidebar. The icon is made with mathematical values and is placed
                    alongside the text meaning. Both of these are affected upon button hover and the icon is displayed
                    by itself in the mobile representation of the webpage.
                </p>
            </div>
            <div class="project-feature-container">
                <h3>Medium Breakpoint</h3>
                <img
                    src=<%=require("../../assets/images/projects/odin-admin-dashboard/medium_breakpoint_admin_dashboard.png")%>
                alt="Medium Breakpoint"
                />
                <p>The medium breakpoint is a value given to the media query that applies styles to when the viewport
                    size meets a "medium" size. This size is typical of popular devices such as iPads. The styles
                    applied include setting the sidebar's display to none and showing the mobile-sidebar below the
                    header. The other major change is the grid columns and rows defined in the page content where the
                    announcements and trending sections are dropped below the projects.</p>
            </div>
            <div class="project-feature-container">
                <h3>Small Breakpoint</h3>
                <img
                    src=<%=require("../../assets/images/projects/odin-admin-dashboard/small_breakpoint_admin_dashboard.png")%>
                alt="Small Breakpoint"
                />
                <p>The small breakpoint is a value given to the media query that applies styles to when the viewport
                    size meets a "small" size. This size is typical of popular devices such as iPads. The styles applied
                    included much of the styles from the medium breakpoint and changes to the header which applies the
                    display of children to block and centers using flexbox.</p>
            </div>
        </section>
        <section>
            <h2>Implementation</h2>
            <div>
                <h3>Using Grid</h3>
                <figure>
                    <pre>
                        <code>
.page-content {
    background-color: var(--color-tertiary);
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    display: grid;
    grid-template-rows: 15px 3fr 25px 3fr;
    grid-template-columns: 5fr 2fr;
    padding: 20px;
    row-gap: 10px;
    column-gap: 20px;
    height: 99%;

    & h2 {
        font-size: 20px;
        font-weight: 600;
    }
}

.page-content h2:first-of-type {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    align-self: center;
}

.page-content h2:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    align-self: center;
}

.page-content h2:nth-of-type(3) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    align-self: center;
}
                        </code>
                    </pre>
                </figure>
                <p>
                    A key area in the implementation is the use of grid to structure and place elements in the webpage.
                    We use the <span>grid-template-rows</span> and <span>grid-template-columns</span> to define the rows
                    and columns of the grid as well as the sizes of the tracks. We also use <span>relative units</span>
                    to distrubute the available space between the rows and columns. <span>Gap</span> is also an
                    attribute that allows us to separate and apply space between the tracks in the rows and columns. We
                    use <span>grid-column</span> and <span>grid-row</span> on grid items to specify which column and row
                    lines the element should span across.
                </p>
            </div>
            <div>
                <h3>Media Queries</h3>
                <figure>
                    <pre>
                        <code>
@media only screen and (max-width: 850px) {
    .sidebar {
        display: none;
    }

    .mobile-sidebar {
        display: flex;
    }

    .header {
        grid-column: 1 / -1;
        height: fit-content;
    }

    .container {
        height: 100%;
        grid-template-rows: none;
    }
...

@media only screen and (max-width: 550px) {
.main-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    & button {
        width: 50%;
        padding: 5px;
        margin-top: 5px;
    }
}
}
                        </code>
                    </pre>
                </figure>
                <p>
                    In order to make the webpage responsive and suitable for all devices, we use media queries within
                    the implementation to define breakpoints. The medium and small breakpoints apply styles catering to
                    the needs to make the content display and readable on devices of that size. Some of the styling
                    applied makes changes to the <span>display</span> property, <span>columns</span> and
                    <span>rows</span> an element span, the <span>height</span> of elements and the positioning.
                </p>
            </div>
            <div>
                <h3>Root Variables and Default Styling</h3>
                <figure>
                    <pre>
                        <code>
:root {
    --color-main: #fe5f55;
    --color-secondary: #777da7;
    --color-white: #fefefe;
    --color-tertiary: #DAF3CA;
    --color-grey: #D5DAD3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
                        </code>
                    </pre>
                </figure>
                <p>
                    The implementation makes use of root variables and default styling to improve the development
                    process and the quality of code. Root variables allow us to specify the website's theme and the
                    colours we wish to use in different areas. By specifying the variable name, we can reference the
                    colour and can apply this to element's <span>color</span> and <span>background-color</span>
                    properties. Default styling is styling applied to all elements to provide a base style that can be
                    inherited by each element. This includes setting the box-sizing, setting the margin and padding to 0
                    and other things such as the font-family and size.
                </p>
            </div>
        </section>
        <section>
            <div class="github-repo-container">
                <div>
                    <a href="https://github.com/KyleKeeneWelch/odin-admin-dashboard" target="_blank"><i
                            class="fa-brands fa-github icon" aria-hidden="true"></i></a>
                    <a href="https://github.com/KyleKeeneWelch/odin-admin-dashboard" target="_blank">Kyle Keene-Welch |
                        Admin Dashboard</a>
                </div>
            </div>
            <div>
                <h2>Want to know more?</h2>
                <p class="center">Get in contact by visiting the <a href="contact.html">Contact Page</a> or
                    alternatively emailing <a href="mailto:kylekeene.welch@gmail.com">kylekeene.welch@gmail.com</a></p>
            </div>
        </section>
        <footer>
            <p>Kyle Keene-Welch © 2026</p>
            <a href="https://github.com/KyleKeeneWelch"><i class="fa-brands fa-github icon" aria-hidden="true"></i></a>
            <a href="mailto:kylekeene.welch@gmail.com">kylekeene.welch@gmail.com</a>
        </footer>
    </main>
</body>

</html>