<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta property="og:title" content="Home">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Github pages portfolio website">
    <meta property="og:description" content="Github pages portfolio website">
    <link rel="canonical" href="https://kylekeenewelch.github.io/my-site/index/">
    <meta property="og:url" content="https://kylekeenewelch.github.io/my-site/index/">
    <meta property="og:site_name" content="Kyle Keene-Welch">
    <meta property="og:type" content="website">
    <title>Tomato Game | Kyle Keene-Welch</title>
</head>

<body>
    <main class="main-container">
        <header>
            <a href="index.html"><img src=<%=require("../../assets/images/home/logo.png")%> alt="Logo" /></a>
            <nav>
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="portfolio.html">Portfolio</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
        <br>
        <section>
            <div class="project-intro">
                <div>
                    <h1>Express Local Library</h1>
                    <p>December 23rd, 2023</p>
                </div>
                <div class="project-featured-image">
                    <img src=<%=require("../../assets/images/projects/tomato-game/tomato-game.png")%>
                    alt="Tomato Game" />
                </div>
                <div class="project-tags">
                    <p class="project-tag">EJS</p>
                    <p class="project-tag">Web</p>
                    <p class="project-tag">Express</p>
                    <p class="project-tag">NPM</p>
                    <p class="project-tag">REST</p>
                    <p class="project-tag">API</p>
                    <p class="project-tag">MongoDB</p>
                    <p class="project-tag">Passport</p>
                    <p class="project-tag">Webpack</p>
                    <p class="project-tag">Async/Await</p>
                </div>
            </div>
        </section>
        <section>
            <h2>Summary</h2>
            <p>
                This project was completed as part of my final assignment for my Software Development module at
                University. It required the explanation of several concepts such as <span>version control</span>,
                <span>interoperability</span>, <span>low coupling</span>, <span>high cohesion</span> and more. The main
                emphasis was utilizing the provided tomato API to produce a meaningful application which became this
                tomato mathematics game.
            </p>
            <p>
                The game enabled me to implement an application with <span>Passport</span> and <span>Express</span> for
                the first time. As a result, the application contained a login system and encryption and comparison of
                passwords. I had not learned about the common <span>MVC</span> pattern at this point but had decoupled
                elements in a similar fashion. The <span>EJS</span> templating langauge was used to serve dynamic
                content and the API was accessed to obtain a new question. High scores are kept to encourage competition
                and gratification for reaching a good score. The application was designed scalable for the
                implementation of more mathematic games in the future.
            </p>
        </section>
        <section>
            <h2>Features</h2>
            <ul>
                <li><strong>Server-Side Routing</strong> - Requests are processed by the server and the server uses
                    templates to dynamically respond with requested content.</li>
                <li><strong>Passport and Authentication</strong> - Passport Local Strategy enabled the application to
                    authenticate a user based on an email and password.</li>
                <li><strong>Encryption</strong> - Encrypting plain passwords into hash values enables them to easily be
                    stored in the database.</li>
                <li><strong>API Endpoint</strong> - Using the provided API to make calls to receive new questions and
                    answers.</li>
                <li><strong>Aesthetic and Consistent Interface</strong> - Use of tomato-based colours and consistent use
                    of borders and spacing make for an aesthetic interface to satisfy users.</li>
            </ul>
            <div class="project-feature-container">
                <h3>Home</h3>
                <img src=<%=require("../../assets/images/projects/tomato-game/home.png")%>
                alt="Home"
                />
                <p>
                    The Home page provides a list of available mathematic games for the user to play. Six Equations
                    is currently the only available game and provides a simple game image, description and
                    difficulty for the user.
                </p>
            </div>
            <div class="project-feature-container">
                <h3>High Scores</h3>
                <img src=<%=require("../../assets/images/projects/tomato-game/high_scores.png")%>
                alt="High Scores"
                />
                <p>
                    The high scores page displays the top ten scores of users who have played Six Equations. These
                    scores persist within rows in a table with headings such as the position, name of the user,
                    reached score, and date of the attempt.
                </p>
            </div>
            <div class="project-feature-container">
                <h3>Create Operations</h3>
                <img src=<%=require("../../assets/images/projects/tomato-game/play.png")%>
                alt="Play"
                />
                <p>
                    The Six Equations game consists of a tomato loading screen, an equations image, a timer, score,
                    and a grid to select the answer. Every five correct answers reduce the timer by five seconds
                    until ten seconds. Users continually answer the equations while the application reaches the API
                    endpoint to receive a new question after each answer. Upon running out of time, the score will
                    be added to the high scores or discarded.
                </p>
            </div>
        </section>
        <section>
            <h2>Implementation</h2>
            <div>
                <h3>Passport Authentication</h3>
                <figure>
                    <pre>
                        <code>
// Initializes passport for authentication.
function initialize(passport, database) {
    // Authenticates user and displays appropriate error flash messages
    const authenticateUser = async (email, password, done) => {
    const user = await database.findOneUser({ email: email });
    if (user == null) {
        return done(null, false, { message: "No user with that email" });
    }

    try {
        console.log(password);
        console.log(user.password);
        // Compare hashed password with entered password
        if (await bcrypt.compare(password, user.password)) {
        return done(null, user);
        } else {
        return done(null, false, { message: "Password incorrect" });
        }
    } catch (e) {
        return done(e);
    }
    };
    // Use local strategy. Set email as username field. Set authenticateUser as function to authenticate.
    passport.use(new LocalStrategy({ usernameField: "email" }, authenticateUser));
    // Store user id in session.
    passport.serializeUser((user, done) => done(null, user._id.toString()));
    // Grab user id in session.
    passport.deserializeUser(async (id, done) => {
    try {
        const user = await database.findById(id, "users");
        return done(null, user);
    } catch (e) {
        return done(e);
    }
    });
}
                        </code>
                    </pre>
                </figure>
                <p>
                    Passport is initialized with the Initialize function which defines the <span>local strategy</span>
                    for checking to see if a user exists in the database with the supplied email and password.
                    <span>Bcrypt</span> is used to compare the hashed password with the supplied password to
                    authenticate the user. Successful authentication serializes the user into the session and
                    deserializes this value to check to see if the current user is authenticated before accessing
                    protected routes.
                </p>
            </div>
            <div>
                <h3>EJS Templates</h3>
                <figure>
                    <pre>
                        <code>
&lt;nav&gt;
    &lt;div&gt;
        &lt;a href=&quot;/&quot;&gt;&lt;img alt=&quot;Tomato Logo&quot; src=&quot;static-images/tomato.png&quot;&gt;&lt;/a&gt;
        &lt;h2 class=&quot;logo-text&quot;&gt;Mathmato&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class=&quot;nav&quot;&gt;
        &lt;a href=&quot;javascript:void(0);&quot; class=&quot;icon&quot; id=&quot;btn-hamburger&quot;&gt;&amp;#9776;&lt;/a&gt;
        &lt;%- include('menu'); %&gt;
    &lt;/div&gt;
    &lt;div class=&quot;responsive-menu&quot; id=&quot;responsive-menu&quot;&gt;
        &lt;%- include('menu'); %&gt;
    &lt;/div&gt;
&lt;/nav&gt;
                        </code>
                    </pre>
                </figure>
                <p>
                    Content is served dynamically using the <span>EJS Templating Engine</span>. Templates can also be
                    included within
                    other templates like the provided code for the navigation bar which includes the Menu template.
                </p>
            </div>
            <div>
                <h3>Fetching The Resource</h3>
                <figure>
                    <pre>
                        <code>
// Performs fetch to API URL then converts response to JSON.
export async function getResource() {
    try {
    const response = await fetch(process.env.API_URL);
    const jsonResponse = await response.json();
    return jsonResponse;
    } catch (e) {
    console.log(e);
    }
}                          
                        </code>
                    </pre>
                </figure>
                <p>
                    The getResource function uses <span>async/await</span> syntax to fetch and wait for a response from
                    the provided API endpoint. The response is converted to <span>JSON</span> and is returned to be used
                    in the application.
                </p>
            </div>
            <div>
                <h3>Game Controller</h3>
                <figure>
                    <pre>
                        <code>
export class Controller {
    constructor() {
        this.question = null;
        this.solution = null;
        this.score = 0;
    }
    
    // Gets resource from tomato api and assigns question and solution to variables.
    async getResource() {
        try {
        const response = await getResource();
        this.question = response.question;
        this.solution = response.solution;
        return response;
        } catch (e) {
        console.log(e);
        }
    }
    
    incrementScore() {
        this.score++;
    }
    
    getScore() {
        return this.score;
    }
    
    resetScore() {
        this.score = 0;
    }
    
    getQuestion() {
        return this.question;
    }
    
    getSolution() {
        return this.solution;
    }
    }
                        </code>
                    </pre>
                </figure>
                <p>
                    The application uses a Game Controller and associated functions to keep track of the status of the
                    user's game. The controller performs actions such as getting a resource like a new set of questions
                    and answers, incrementing and returning the score and returning the question or answer.
                </p>
            </div>
        </section>
        <section>
            <div class="github-repo-container">
                <div>
                    <a href="https://github.com/KyleKeeneWelch/tomato-game" target="_blank"><i
                            class="fa-brands fa-github icon" aria-hidden="true"></i></a>
                    <a href="https://github.com/KyleKeeneWelch/tomato-game" target="_blank">Kyle Keene-Welch |
                        Tomato Game</a>
                </div>
            </div>
            <div>
                <h2>Want to know more?</h2>
                <p class="center">Get in contact by visiting the <a href="contact.html">Contact Page</a> or
                    alternatively emailing <a href="mailto:kylekeene.welch@gmail.com">kylekeene.welch@gmail.com</a></p>
            </div>
        </section>
        <footer>
            <p>Kyle Keene-Welch © 2026</p>
            <a href="https://github.com/KyleKeeneWelch"><i class="fa-brands fa-github icon" aria-hidden="true"></i></a>
            <a href="mailto:kylekeene.welch@gmail.com">kylekeene.welch@gmail.com</a>
        </footer>
    </main>
</body>

</html>