<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta property="og:title" content="Home">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Github pages portfolio website">
    <meta property="og:description" content="Github pages portfolio website">
    <link rel="canonical" href="https://kylekeenewelch.github.io/my-site/index/">
    <meta property="og:url" content="https://kylekeenewelch.github.io/my-site/index/">
    <meta property="og:site_name" content="Kyle Keene-Welch">
    <meta property="og:type" content="website">
    <title>Tomb Raider (2013) | Kyle Keene-Welch</title>
</head>

<body>
    <main class="main-container">
        <header>
            <a href="index.html"><img src=<%=require("../../assets/images/home/logo.png")%> alt="Logo" /></a>
            <nav>
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="portfolio.html">Portfolio</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
        <br>
        <section>
            <div class="project-intro">
                <div>
                    <h1>Tomb Raider (2013)</h1>
                    <p>February 12th 2026</p>
                </div>
                <div class="project-featured-image">
                    <img src=<%=require("../../assets/images/projects/tomb-raider-2013/tomb-raider-20131.jpg")%> />
                </div>
                <div class="project-tags">
                    <p class="project-tag">iOS</p>
                    <p class="project-tag">Android</p>
                    <p class="project-tag">UX</p>
                    <p class="project-tag">Action-adventure</p>
                    <p class="project-tag">Puzzler</p>
                    <p class="project-tag">Feral Interactive</p>
                </div>
            </div>
        </section>
        <section>
            <h2>Summary</h2>
            <p>
                Another project playing a supportive UX role however this was a big step up from the Isometric Puzzler
                that was Guardian of Light. Employed new practices that boosted productivity and maintainability that
                are in use today. Key challenges involved:
            </p>
            <ul>
                <li><strong>Touch Controls and conflicting placement</strong> - Designing a touch interface that is
                    intuitive and works alongside the original is hard enough without needing it to work across various
                    mobile and tablet screen sizes. Understanding the game and what is needed by the player at what
                    point was key in toggling what controls are shown and where so that it feels intuitive and natural.
                </li>
                <li><strong>QTE</strong> - Quick time events and other quick interactions required lots of thought and
                    iteration to find a middle ground in making moments feel tense but not impossible to deal with.
                    These were brought across as time based taps instead of difficult mashes or events that would be
                    unsuitable for touch.</li>
                <li><strong>Localised Text</strong> - Supporting a range of languages and having the UI handle the extra
                    characters needed for some languages. Smart placement, allocation of space, and text scrolling
                    assisted with this.</li>
                <li><strong>Optimising for Mobile and Tablet</strong> - Creating responsive layouts that work better on
                    wider aspect ratios and taller, more square ratios to accommodate a range of mobile and tablet
                    devices.</li>
            </ul>
            <p class="centre-link"">Tomb Raider (2013) on the <a href="
                https://www.feralinteractive.com/en/games/tombraidermobile/android-ios/">Feral
                Website</a>, <a
                    href="https://play.google.com/store/apps/details?id=com.feralinteractive.tombraider_android&hl=en_GB">Google
                    Play</a> or the <a href="https://apps.apple.com/gb/app/tomb-raider/id6742988247">Apple App
                    Store</a></p>
        </section>
        <div class="project-feature-container">
            <img src=<%=require("../../assets/images/projects/tomb-raider-2013/tomb-raider-20132.jpg")%>
            />
            <br>
            <img src=<%=require("../../assets/images/projects/tomb-raider-2013/tomb-raider-20133.jpg")%>
            />
            <br>
            <img src=<%=require("../../assets/images/projects/tomb-raider-2013/tomb-raider-20134.jpg")%>
            />
        </div>
        <section>
            <div>
                <h2>Want to know more?</h2>
                <p class="center">Get in contact by visiting the <a href="contact.html">Contact Page</a> or
                    alternatively emailing <a href="mailto:kylekeene.welch@gmail.com">kylekeene.welch@gmail.com</a></p>
            </div>
        </section>
        <footer>
            <p>Kyle Keene-Welch © 2026</p>
            <a href="https://github.com/KyleKeeneWelch"><i class="fa-brands fa-github icon" aria-hidden="true"></i></a>
            <a href="mailto:kylekeene.welch@gmail.com">kylekeene.welch@gmail.com</a>
        </footer>
    </main>
</body>

</html>