<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta property="og:title" content="Home">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Github pages portfolio website">
    <meta property="og:description" content="Github pages portfolio website">
    <link rel="canonical" href="https://kylekeenewelch.github.io/my-site/index/">
    <meta property="og:url" content="https://kylekeenewelch.github.io/my-site/index/">
    <meta property="og:site_name" content="Kyle Keene-Welch">
    <meta property="og:type" content="website">
    <title>Lara Croft: Guardian of Light | Kyle Keene-Welch</title>
</head>

<body>
    <main class="main-container">
        <header>
            <a href="index.html"><img src=<%=require("../../assets/images/home/logo.png")%> alt="Logo" /></a>
            <nav>
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="portfolio.html">Portfolio</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
        <br>
        <section>
            <div class="project-intro">
                <div>
                    <h1>Lara Croft: Guardian of Light</h1>
                    <p>February 27st 2025</p>
                </div>
                <div class="project-featured-image">
                    <img
                        src=<%=require("../../assets/images/projects/tomb-raider-guardian-of-light/tomb-raider-guardian-of-light1.jpg")%>
                    />
                </div>
                <div class="project-tags">
                    <p class="project-tag">iOS</p>
                    <p class="project-tag">Android</p>
                    <p class="project-tag">UX</p>
                    <p class="project-tag">Action-adventure</p>
                    <p class="project-tag">Puzzler</p>
                    <p class="project-tag">Feral Interactive</p>
                </div>
            </div>
        </section>
        <section>
            <h2>Summary</h2>
            <p>
                Played a supportive role in the UX development of this project. First dive into something that wasn't
                strategy and had new challenges. One of which was the co-op, multiplayer functionality. This required
                additional UX to cater for the need of setting up an account, sending invites, and joining sessions. Key
                challenges involved:
            </p>
            <ul>
                <li><strong>Development of Agnostic Screens</strong> - To support co-op multiplayer there was a need to
                    flesh out the Feral agnostic screens as well as the in-game lobby to be able to handle sessions with
                    multiple players.</li>
                <li><strong>Localised Text</strong> - Supporting a range of languages and having the UI handle the extra
                    characters needed for some languages. Smart placement, allocation of space, and text scrolling
                    assisted with this.</li>
                <li><strong>Optimising for Mobile and Tablet</strong> - Creating responsive layouts that work better on
                    wider aspect ratios and taller, more square ratios to accommodate a range of mobile and tablet
                    devices.</li>
            </ul>
            <p class="centre-link"">View Lara Croft: Guardian of Light on the <a href="
                https://www.feralinteractive.com/en/games/laracroftguardianoflightmobile/android-ios/">Feral
                Website</a>, <a
                    href="https://play.google.com/store/apps/details?id=com.feralinteractive.laracroftgol_android&hl=en_GB">Google
                    Play</a> or the <a
                    href="https://apps.apple.com/gb/app/lara-croft-guardian-of-light/id6502455111">Apple App
                    Store</a></p>
        </section>
        <div class="project-feature-container">
            <img
                src=<%=require("../../assets/images/projects/tomb-raider-guardian-of-light/tomb-raider-guardian-of-light2.jpg")%>
            />
            <br>
            <img
                src=<%=require("../../assets/images/projects/tomb-raider-guardian-of-light/tomb-raider-guardian-of-light3.jpg")%>
            />
            <br>
            <img
                src=<%=require("../../assets/images/projects/tomb-raider-guardian-of-light/tomb-raider-guardian-of-light4.jpg")%>
            />
        </div>
        <section>
            <div>
                <h2>Want to know more?</h2>
                <p class="center">Get in contact by visiting the <a href="contact.html">Contact Page</a> or
                    alternatively emailing <a href="mailto:kylekeene.welch@gmail.com">kylekeene.welch@gmail.com</a></p>
            </div>
        </section>
        <footer>
            <p>Kyle Keene-Welch © 2026</p>
            <a href="https://github.com/KyleKeeneWelch"><i class="fa-brands fa-github icon" aria-hidden="true"></i></a>
            <a href="mailto:kylekeene.welch@gmail.com">kylekeene.welch@gmail.com</a>
        </footer>
    </main>
</body>

</html>