<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta property="og:title" content="Home">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Github pages portfolio website">
    <meta property="og:description" content="Github pages portfolio website">
    <link rel="canonical" href="https://kylekeenewelch.github.io/my-site/index/">
    <meta property="og:url" content="https://kylekeenewelch.github.io/my-site/index/">
    <meta property="og:site_name" content="Kyle Keene-Welch">
    <meta property="og:type" content="website">
    <title>Home | Kyle Keene-Welch</title>
</head>

<body>
    <a class="background-banner-home-author"
        href="https://img.freepik.com/free-vector/abstract-digital-grid-vector-black-background_53876-111550.jpg?w=1060&t=st=1691495333~exp=1691495933~hmac=c2d2b0377150ccd3ef89f1b3511a1a6555e1d7a3edfc9dcd2add9e7f0ba3aafb">Image
        by rawpixel.com</a>
    <div class="background-banner-home">
        <header>
            <a href="index.html"><img src=<%=require("../../assets/images/home/logo.png")%> alt="Logo" /></a>
            <nav>
                <a href="index.html" class="active">Home</a>
                <a href="about.html">About</a>
                <a href="portfolio.html">Portfolio</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
        <div>
            <h1>Hello Fellow <strong>Problem Solvers</strong></h1>
            <h1>My Name Is <strong>Kyle</strong></h1>
        </div>
    </div>
    <main class="main-container">
        <br>
        <section>
            <img class="portrait center-img" src=<%=require("../../assets/images/home/portrait_img.jpg")%>
            alt="Portrait">
            <br>
            <div class="center">
                <a class="btn btn-download-resume" href="" download>
                    Download Resume
                    <i class="fa-solid fa-download icon"></i>
                </a>
            </div>
            <br>
            <div>
                <p>Here's me - <strong>Web Developer / Software Engineer</strong> who achieved a <strong>First
                        Class</strong> degree in
                    <strong>Software Engineering</strong> and an award for the <strong>Highest Achieving Undergraduate
                        Student in the School of
                        Computer Science and Technology</strong> at the
                    <strong>University Of Bedfordshire</strong>. From my studies and personal projects I was able to
                    hone my skills in projects to
                    establish myself as an effective
                    practitioner in the Software Development field.
                </p>
                <p>Currently, I work as a <strong>UX Engineer</strong> at <strong>Feral Interactive</strong> creating
                    ports of critically aclaimed titles in the industry
                    to iOS, Android, and Nintendo Switch. This role developed my learning of Web Development
                    Technologies and
                    Software Engineering practices to benefit the experience of users, bringing video games to more
                    platforms and devices than ever before.</p>
                <p>I have worked with many frameworks and technologies with the goal of improving my proficiency
                    in a
                    range of areas across Web Development, Software Engineering and UX Design. Many of these are
                    highlighted within projects on my <a href="portfolio.html"><strong>Portfolio</strong></a> where I
                    showcase the
                    outcome of these experiences and a timeline of progress.</p>
                <p>I understand the importance learning has in personal development and how adapting to new advances in
                    the upcoming era of techonolgy will allow me to stay competitive and offer a more useful efficient
                    service.</p>
                <p>By browsing this site, you can become familiar with who I am, my passions and goals, the skills and
                    experience I have obtained, and can use this in your own evaluation of the provision of
                    opportunities and services.</p>
            </div>
        </section>
        <br>
        <section>
            <header>
                <h2>What Exciting Things Have I Been A Part Of?</h2>
            </header>
            <br>
            <div>
                <div class="gallery">
                    <a class="gallery-card" href="tomb-raider-2013.html">
                        <img src=<%=require("../../assets/images/home/tomb-raider-2013.jpg")%> alt="Tomb Raider 2013">
                        <p>Feral Interactive Ports</p>
                    </a>
                    <a class="gallery-card" href="book-app-client.html">
                        <img src=<%=require("../../assets/images/home/project-poster.png")%> alt="Final Year Project
                        Image">
                        <p>A Scalable, Reusable Architecture</p>
                    </a>
                    <a class="gallery-card" href="odin-weather-app.html">
                        <img src=<%=require("../../assets/images/home/odin-weather-app.png")%> alt="Odin Weather App
                        Image">
                        <p>The Odin Project</p>
                    </a>
                    <a class="gallery-card" href="topedia.html">
                        <img src=<%=require("../../assets/images/home/topedia.png")%> alt="Topedia Image">
                        <p>University Projects</p>
                    </a>
                </div>
                <br>
                <div class="center">
                    <a class="btn" href="portfolio.html">
                        Check Out More
                        <i class="fa-solid fa-arrow-up icon"></i>
                    </a>
                </div>
            </div>
        </section>
        <section>
            <header>
                <h2>More Than Just A Developer</h2>
            </header>
            <div>
                <p>Alongside my duties and learning as a developer, I also take part in several hobbies and contain
                    fulfilling interests that boost my skills and understanding in similar fields. These enable me to
                    enrich
                    my lifestyle and maintain my time outside of my involvement in the industry. Some hobbies and
                    interests
                    that I partake in include:</p>
                <ul>
                    <li><strong>Being active at the gym</strong> - Setting personal goals and sticking to a routine to
                        meet
                        my fitness aspirations.</li>
                    <li><strong>Casual sports</strong> - Subsidiary activity to assist towards my fitness goals and to
                        provide social benefits from teamwork with others.</li>
                    <li><strong>Video games</strong> - Downtime activity to keep myself engaged and interactions with
                        exciting worlds fuel my creativity.</li>
                    <li><strong>Assisting others in the workfield or social sphere</strong> - Helping others in a field
                        I
                        have competence with whether it be as part of a team or an individual with like-minded goals.
                        Other
                        cases would be friends and family who request a degree of support I can assist with.</li>
                    <li><strong>Listening to a variety of music</strong> - Whether that be quietly on the side while I
                        do my
                        work or playing to keep the energy flowing during a workout at the gym, I am always exploring my
                        options.</li>
                </ul>
                <div class="center">
                    <a class="btn" href="about.html">
                        Learn More
                        <i class="fa-solid fa-arrow-up icon"></i>
                    </a>
                </div>
            </div>
        </section>
        <section>
            <header>
                <h2>Want To Know More?</h2>
            </header>
            <div class="center">
                <p>
                    Find more on my education, qualifications, awards and biography in the <strong><a
                            href="about.html">About
                            Page</a></strong>.
                </p>
                <p>Outstanding completed projects can be found as a project on the <strong><a
                            href="portfolio.html">Portfolio Page</a></strong>.
                </p>
                <p>
                    For any queries and contact information please visit the <strong><a href="contact.html">Contact
                            Page</a></strong>.
                </p>
            </div>
        </section>
        <footer>
            <p>Kyle Keene-Welch © 2026</p>
            <a href="https://github.com/KyleKeeneWelch"><i class="fa-brands fa-github icon" aria-hidden="true"></i></a>
            <a href="mailto:kylekeene.welch@gmail.com">kylekeene.welch@gmail.com</a>
        </footer>
    </main>
</body>

</html>